html {
  max-width: 518px;
  margin: auto;
  padding: 1rem;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; /* 移动端使用 */
  transition-property: filter;
  transition-duration: 1s;
}

html img{
  transition-property: filter;
  transition-duration: 1s;
}

.htmlNightMode{
  filter: invert(100%) brightness(70%);
/*   background:black; */
}
.htmlNightMode img {
  filter: invert(100%);
}

.htmlNightMode #invertBackGround {
  filter: invert(100%);
}

#invertBackGround{
  width: 200vw;
  height: 100%;
/*   background-color: white; */
  position: fixed;
  left: -100vw;
  top: 0vh;
  z-index: -100;
  transition-property: background-color filter;
  transition-duration: 1s;
}

footer {
  font-size: 0.8rem;
  width: fit-content;
  text-align: center;
  margin: 3rem auto 1.4rem auto;
  color: gray;
}
.boldFont {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #0853d4;
  transition-property: background-color;
  transition-duration: 0.2s;
}
a:visited {
  color: default;
}
a:hover {
  background-color: lightgray;
}
hr {
  background-color: #eeeeee;
  height: 1px;
  border: none;
}
.bigBlock {
  border-radius: 0.5rem;
  margin: 0.7rem 0 0 0;
  border: rgba(232,232,232,0.5) 0.01rem solid;
  box-shadow: 0.05rem 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
}
.bigBlock table {
  padding: 0.6rem 0.8rem;
}
/* .bigBlock:hover{
    border-color: #ff5400;
  } */
details summary .sanJiao {
  /* 自定义的三角 */
  /* transition: transform 0.2s, font-size 3s; */
  transition: transform 0.3s;
}
details:not([open]) summary .sanJiao {
  transform: rotate(-90deg);
}
/* 去掉黑三角 */
details > summary:first-of-type {
  list-style-type: none;
}
details summary::-webkit-details-marker {
  display: none;
}
/* detail{
    transition-property: height;
    transition-duration: 2s;
  } */
/* details summary ~ *{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
  } */
summary {
  outline: none;
  line-height: 1.7rem;
}
.fullWidth {
  width: 100%;
}
.td-1 {
  width: 15%;
}
.td-2 {
  width: 77%;
}
.td-3 {
  width: 8%;
  text-align: center;
  line-height: 1.3rem;
  color: gray;
}
.sanJiao {
  margin: auto;
  width: fit-content;
}
.popDown {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.logos {
  width: 80%;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.smallText {
  font-size: 0.8rem;
}
.bigButton {
  display: block;
  margin: 0.8rem auto 1rem auto;
  padding: 0.4rem 1rem;
  border-radius: 100rem;
  border: solid 0.05rem lightgray;
  color: black;
  /* box-shadow: 1px 2px 0px rgba(0,0,0,0.2); */
}
